/*---------------------------\
     Common CSS or Style
\---------------------------*/

/* Include Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;1,700;1,800&display=swap');

:root {
    --white: #ffffff;
    --themeColor: #562eff;
    --secondaryColor: #9F9F9F;
    --otherColor: #ED6B4F;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondaryColor);
}

a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}

hr {
    height: 1px;
    margin: 35px 0;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    background-color: var(--themeColor);
}

h4 {
    margin-top: 0;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 2px;
}

.title {
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    margin: 0 0 25px 0;
    color: var(--themeColor);
}

.sm-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*---------------------------\
        Navbar Start
\---------------------------*/
header {
    height: 94px;
    background-color: var(--themeColor);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 94px;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
}

.logo span {
    font-size: 24px;
    font-weight: 500;
    padding-left: 12px;
    color: var(--white);
}

.navbar .menu {
    display: flex;
    align-items: center
}

.navbar .menu li {
    list-style: none;
}

.navbar .menu li img {
    height: 50px;
    padding-top: 4px;
}

.navbar .menu li a {
    opacity: 0.8;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 6px;
    margin-right: 12px;
    color: var(--white);
    transition: 0.4s all ease-in-out;
}

.navbar .menu li:hover a {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar .menu li:last-child a {
    background-color: transparent !important;
}

.navbar .menu li:last-child a span {
    display: none;
}

/* Responsive */
/* Toggle Button */
.chk-btn {
    float: right;
}

.chk-btn img {
    width: 22px;
    display: none;
    margin-right: 20px;
}

#chk {
    z-index: -9;
    display: none;
    visibility: hidden;
    position: absolute;
}


/* Responsive Navbar */
@media only screen and (max-width: 767px) {
    .logo img {
        width: 32px;
    }

    .logo span {
        font-size: 18px;
    }

    .navbar .logo {
        display: flex;
        align-items: center;
        margin-left: -25px;
    }

    .navbar .menu {
        left: 0;
        right: 0;
        top: 78px;
        padding: 0;
        height: 0px;
        width: 100%;
        z-index: -99;
        display: block;
        position: fixed;
        transition: 0.7s;
        overflow-y: hidden;
        text-align: center;
        line-height: normal;
        background-color: #4422d4;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    }

    .navbar .menu li a {
        display: block;
        font-size: 30px;
        padding: 40px 25px;
    }

    .navbar .menu li:last-child a {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar .menu li:last-child a img {
        padding-right: 18px;
    }

    .navbar #chk {
        display: block;
    }

    .navbar #chk:checked ~ .menu {
        height: 88vh;
    }

    .navbar .chk-btn img {
        display: block;
    }
}


/*---------------------------\
      Top Section Start
\---------------------------*/
.topSection {
    padding: 30px;
    margin-top: 50px;
    border-radius: 8px;
    background-color: var(--white);
}

/*---------------------------\
      Top Players Start
\---------------------------*/
.top-players .players {
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.top-players .player {
    display: flex;
    align-items: center;
}

.top-players .player img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 3px solid var(--themeColor);
}

.top-players .player span {
    margin-left: 15px;
    display: inline-block;
}

/* Responsive Top Players */
@media only screen and (max-width: 767px) {
    .top-players .players {
        grid-row-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 575px) {
    .top-players .players {
        grid-row-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
    }
}


/*---------------------------\
        Top Blogs Start
\---------------------------*/
.top-blogs .blogs {
    display: grid;
    grid-row-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
}

.top-blogs .blog {
    display: flex;
    align-items: center;
}

.top-blogs .blog img {
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.top-blogs .blog-content {
    padding-left: 25px;
}

.top-blogs .blog-content span {
    display: inline-block;
}
